<div [ngClass]="mainmenu.isShown() ? 'top-menu-opened' : 'top-menu'" [@popOverState]="stateName">
  <button class="topmenubtn button-menu" (click)="mainmenu.toggleMenu()"></button>
  <button *ngIf="auth.isAuthenticated()" class="topmenubtn button-add" (click)="startAddMarker()"></button>
</div>


<div class="leaflet-map"
      *ngIf="options != null"
      (leafletMapReady)="onMapReady($event)"
      (leafletClick)="onMapClick($event)"
      leaflet
      [leafletOptions]="options">
</div>
<app-main-nav #mainmenu (typeSelected)="onTypeSelected($event)" (resourceClicked)="onResourceClicked($event)">
</app-main-nav>
