<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="goHome()">Go home</a>
      <!-- <a mat-list-item href="#">Link 2</a> -->
      <!-- <a mat-list-item href="#">Link 3</a> -->
      <a mat-list-item (click)="drawer.toggle()">Close</a>
    </mat-nav-list>

    <p></p>

    <mat-form-field class="sidenav-form">
      <mat-select [(ngModel)]="selectedType" [formControl]="typeControl" (selectionChange)="typeControl_onSelect($event)">
        <mat-option *ngFor="let type of resourceTypes" [value]="type">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <cdk-virtual-scroll-viewport slimScroll [options]="opts" itemSize="50" class="resources-list-viewport">
        <mat-nav-list>
          <mat-list-item *ngFor="let item of resources" (click)="onResourceClick(item)" > {{item.header}} </mat-list-item>
        </mat-nav-list>
      </cdk-virtual-scroll-viewport>

    <div class="login-form" *ngIf="!auth.isAuthenticated()">
      <form *ngIf="loginFormOpened" class="card" [formGroup]="form" (ngSubmit)="login()">
        <p>
          <mat-form-field class="input-form-field">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" value="">
            <mat-error *ngIf="form.get('email').invalid">Please enter a valid email</mat-error>
          </mat-form-field>
          <mat-form-field class="input-form-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" value="">
            <mat-error *ngIf="form.get('password').invalid">Please enter a valid password</mat-error>
          </mat-form-field>
          <button mat-raised-button type="submit">Login</button>
        </p>
        <span><a class="url-dashed" (click)="loginFormOpened = false">Hide</a></span>
      </form>
      <span *ngIf="!loginFormOpened"><a class="url-dashed" (click)="loginFormOpened = true">Log in</a></span>
    </div>
    <div class="login-form" *ngIf="auth.isAuthenticated()">
      {{auth.userName}}
      <p>
        <span><a class="url-dashed" (click)="auth.logout()">Log out</a></span>
      </p>
    </div>
  </mat-sidenav>

  <!-- <mat-sidenav-content>
  </mat-sidenav-content> -->
</mat-sidenav-container>
