@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('../node_modules/leaflet/dist/leaflet.css');


body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #d0d0d0;
  color: #333;
}

.leaflet-container {
  z-index: 2;
}

.leaflet-tile-pane {
  z-index: 1;
}

.login-form {
  position: absolute;
  margin-left: 1rem;
  bottom: 2rem;
}

.url-dashed {
  color: #3e6dec;
  cursor: pointer;
  text-decoration: underline dashed;
}

.top-menu {
  position: absolute;
  margin-left: 0px;
  z-index: 20;

  width: 400;
  height: 250;
  background-color: #ffcc00;
}
.top-menu-opened {
  position: absolute;
  margin-left: 150px;
  z-index: 1002;

  width: 400;
  height: 250;
  background-color: #ffcc00;
}

.topmenubtn {
  // position: fixed;
  position: absolute;
  display: block;
  width: 52px;
  height: 52px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: rgba(220, 220, 220, 0.8);
  border-radius: 4px;
  box-shadow: 2px 2px 4px #000;
  top: 10px;
}

.button-menu {
  background-image: url('assets/images/menu.png');
  background-repeat: no-repeat;
  background-position: center;
  left: 60px;
}

.button-add {
  background-image: url('assets/images/add.png');
  background-repeat: no-repeat;
  background-position: center;
  left: 126px;
}

.leaflet-map {
  height: 100%;
}

.leaflet-container.crosshair-cursor-enabled {
  cursor:alias;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


